body{background: #8FCFEB; font-family: Arial;}
.la{float: left;width: 40%;text-align: right;}
.d{float: left;width: 60%;}
.labels{padding: 21px 0; font-size: 20px;color: black;}
.inputs{padding: 21px 0;margin-top: 0px;}
input[type="password"] {width: 50%; color: black; margin-left: -48%;height: 30px;border: none;margin-top: 3px;border-radius: 4px;
box-shadow: 0px 8px 16px 0px rgba(0,1,1,0.2);z-index: 1;}
input[type="submit"]{margin-right: 17%;border: none;width: 100px;height: 30px;box-shadow: 0px 8px 16px 0px rgba(0,1,1,0.2);z-index: 1;}


.aa{position: absolute;margin-top: -60px;margin-left: 39%;height: 30px;box-shadow: 0px 8px 16px 0px rgba(0,1,1,0.2);z-index: 1;}
.Cancel{height: 30px;box-shadow: 0px 8px 16px 0px rgba(0,1,1,0.2);z-index: 1;}